{% extends 'base.html' %}


{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="/signup/" method="post" class="card card-body" id="registerForm">
                <h1 class="text-center">Registro</h1>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" name="username" id="username" class="form-control"
                        placeholder="Nombre de usuario">
                    <div id="usernameError" class="text-danger" style="display:none;">* El nombre de usuario es
                        obligatorio.</div>
                </div>
                <div class="mb-3">
                    <label for="first_name">Nombre/s</label>
                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Nombre/s">
                    <div id="nameError" class="text-danger" style="display:none;">* El nombre es obligatorio.</div>
                </div>
                <div class="mb-3">
                    <label for="last_name">Apellido/s</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Apellido/s">
                    <div id="lastNameError" class="text-danger" style="display:none;">* El apellido es obligatorio.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                    <div id="emailError" class="text-danger" style="display:none;">* El email es obligatorio.</div>
                </div>
                <div class="mb-3">
                    <label for="password1">Contraseña</label>
                    <input type="password" name="password1" id="password1" class="form-control"
                        placeholder="Contraseña">
                    <div id="password1Error" class="text-danger" style="display:none;">* La contraseña es obligatoria.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password2">Confirmar Contraseña</label>
                    <input type="password" name="password2" id="password2" class="form-control"
                        placeholder="Confirmar Contraseña">
                    <div id="password2Error" class="text-danger" style="display:none;">* La confirmacion de contraseña es obligatoria.</div>
                    <div id="samePassword" class="text-danger" style="display:none;">* Las contraseñas no coinciden.</div>
                </div>


                <h6 class="text-danger text-center">{{ error }}</h6>

                <button class="btn btn-success mb-3">
                    Registro
                </button>
            </form>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const registerForm = document.getElementById('registerForm');
        const usernameInput = document.getElementById('username');
        const nameInput = document.getElementById('first_name');
        const lastNameInput = document.getElementById('last_name');
        const emailnput = document.getElementById('email');
        const password1Input = document.getElementById('password1');
        const password2Input = document.getElementById('password2');

        const usernameError = document.getElementById('usernameError');
        const nameError = document.getElementById('nameError');
        const lastNameError = document.getElementById('lastNameError');
        const emailError = document.getElementById('emailError');
        const password1Error = document.getElementById('password1Error');
        const password2Error = document.getElementById('password2Error');
        const samePassword = document.getElementById('samePassword');

        registerForm.addEventListener('submit', function (event) {
            let isValid = true;

            // Validacion del username
            if (usernameInput.value.trim() === '') {
                usernameError.style.display = 'block';
                usernameInput.style.borderColor = 'red';
                isValid = false;
            } else {
                usernameError.style.display = 'none';
                usernameInput.style.borderColor = '';
            }

            // Validacion del nombre
            if (nameInput.value.trim() === '') {
                nameError.style.display = 'block';
                nameInput.style.borderColor = 'red';
                isValid = false;
            } else {
                nameError.style.display = 'none';
                nameInput.style.borderColor = '';
            }

            // Validacion del apellido
            if (lastNameInput.value.trim() === '') {
                lastNameError.style.display = 'block';
                lastNameInput.style.borderColor = 'red';
                isValid = false;
            } else {
                lastNameError.style.display = 'none';
                lastNameInput.style.borderColor = '';
            }

            // Validacion del email
            if (emailnput.value.trim() === '') {
                emailError.style.display = 'block';
                emailnput.style.borderColor = 'red';
                isValid = false;
            } else {
                emailError.style.display = 'none';
                emailnput.style.borderColor = '';
            }

            // Validacion de contraseña 1
            if (password1Input.value.trim() === '') {
                password1Error.style.display = 'block';
                password1Input.style.borderColor = 'red';
                isValid = false;
            } else {
                password1Error.style.display = 'none';
                password1Input.style.borderColor = '';
            }

            // Validacion de contraseña 2
            if (password2Input.value.trim() === '') {
                password2Error.style.display = 'block';
                password2Input.style.borderColor = 'red';
                isValid = false;
            } else {
                password2Error.style.display = 'none';
                password2Input.style.borderColor = '';
            }

            //Validar que las contraseñas coincidan
            if (password1Input.value.trim() != password2Input.value.trim()) {
                samePassword.style.display = 'block';
                isValid = false;
            } else {
                samePassword.style.display = 'none';
            }

            if (!isValid) {
                event.preventDefault();
            }
        })

        // Eventos para limpiar el error mientras el usuario escribe
        usernameInput.addEventListener('change', function () {
            if (usernameInput.value !== '') {
                usernameError.style.display = 'none';
                usernameInput.style.borderColor = '';
            } else {
                usernameError.style.display = 'block';
                usernameInput.style.borderColor = 'red';
            }
        });

        nameInput.addEventListener('change', function () {
            if (nameInput.value !== '') {
                nameError.style.display = 'none';
                nameInput.style.borderColor = '';
            } else {
                nameError.style.display = 'block';
                nameInput.style.borderColor = 'red';
            }
        });

        lastNameInput.addEventListener('change', function () {
            if (lastNameInput.value !== '') {
                lastNameError.style.display = 'none';
                lastNameInput.style.borderColor = '';
            } else {
                lastNameError.style.display = 'block';
                lastNameInput.style.borderColor = 'red';
            }
        });

        emailnput.addEventListener('change', function () {
            if (emailnput.value !== '') {
                emailError.style.display = 'none';
                emailnput.style.borderColor = '';
            } else {
                emailError.style.display = 'block';
                emailnput.style.borderColor = 'red';
            }
        });

        password1Input.addEventListener('change', function () {
            if (password1Input.value !== '') {
                password1Error.style.display = 'none';
                password1Input.style.borderColor = '';
            } else {
                password1Error.style.display = 'block';
                password1Input.style.borderColor = 'red';
            }
        });

        password2Input.addEventListener('change', function () {
            if (password2Input.value !== '') {
                password2Error.style.display = 'none';
                password2Input.style.borderColor = '';
            } else {
                password2Error.style.display = 'block';
                password2Input.style.borderColor = 'red';
            }
        });

    })

</script>
{% endblock %}